body{
position: relative;
height: auto;
width: 90%;
background: linear-gradient(180deg, #00C1CD 2.31%, rgba(228, 91, 136, 0.69) 148.01%);
background-repeat: no-repeat;
}

footer{
    display: flex;
    justify-content: center;
}