@font-face{
    font-family: 'Roboto-Black';
    src: url('../../font/Roboto-Black.ttf');
    src: url('../../font/Roboto-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto-Bold';
    src: url('../../font/Roboto-Bold.ttf');
    src: url('../../font/Roboto-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url('../../font/Roboto-Regular.ttf');
    src: url('../../font/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
* {
    margin: 0;
    padding: 0;
    width: auto;
}
/*Body global*/
body{
    position: relative;
    height: auto;
    width: auto;
    background: #303030;
    background-repeat: no-repeat;
}
/*Header nav menu.php*/
header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding: 1% 0;
    background-color:#4d4d4d;
    z-index: 1000;
}
a#logosite{
    display: flex;
    flex-wrap: nowrap;
    height:100%;
    margin-left: 2%;
    text-decoration: none;
}
a p.logositetext{
    display: flex;
    align-items:center;  
    font-family: 'Roboto-Bold';
    font-size: 1.5em;
    color: rgb(209, 209, 209);
}

/*formulaire connexion*/
div#allForm{
    display: flex;
    flex-direction:row;
    align-items:center;
    flex-shrink: 0;
    margin: 10px 5% 10px 0;
}
form#connexionForm{
    display: flex;
    align-items: baseline;
}
p#titleSigin{
    font-family: "Roboto-Black";
    color:rgb(209, 209, 209);
}
input.inputSigin{
    width: 25%;
    height: 25px;
    border: 1px solid #4d4d4d;
    color: #4d4d4d;
    background-color:rgb(209, 209, 209);
    border-radius: 10px;
    text-indent: 9px;
    margin-right: 1%;
}
input.inputSigin:focus{
    outline-offset: 1px;
    outline-width: 0px;
}
input#connexionSigin{
    padding: 2px 10px 2px 10px ;
    border:3px solid rgb(209, 209, 209);
    border-radius: 50px;
    text-decoration: none;
    color: rgb(209, 209, 209);
    font-family: "Roboto-Black";
    background:#4d4d4d;
    margin: 2% 2% 0 0;
}
input#connexionSigin:hover{
    color: #000;
    background-color: rgb(209, 209, 209);
    transition: all 0.5s ease-in-out;
}
a#singupLink{
    display:flex;
    justify-content:center;
    flex-shrink: 0;
    align-items:center;
    padding: 2px 10px 2px 10px ;
    border:3px solid rgb(209, 209, 209);
    border-radius: 50px;
    text-decoration: none;
    color: rgb(209, 209, 209);
    font-family: "Roboto-Black";
    font-size: 0.87em;
    background:#4d4d4d;
    margin-right: 2%;
}
a#singupLink:hover{
    color: #000;
    background-color: rgb(209, 209, 209);
    transition: all 0.5s ease-in-out;
}
/*après connexion*/
div#groupright{
    display:flex;
    flex-flow: row nowrap;
    justify-content:center;
    align-items:center;
}
div#groupButton{
    display: flex;
    flex-direction:row;
    margin-right: 2%;
}
a#disconnect,a#administration{
    display:flex;
    justify-content:center;
    flex-shrink: 0;
    align-items:center;
    width: 150px;
    height: 25px;
    border:3px solid rgb(209, 209, 209);
    border-radius: 50px;
    text-decoration: none;
    color: rgb(209, 209, 209);
    font-family: "Roboto-Black";
    background:#4d4d4d;
    
}
a#disconnect:hover,a#administration:hover{
    color: #000;
    background-color: rgb(209, 209, 209);
    transition: all 0.5s ease-in-out;
}
p#bonjourPseudo{
    margin-right: 5%;
    font-family:'Roboto-Regular';
    font-size: 1.1em; 
    color:#e9e9e9;
}
/*Intérieur du body listPoster.php*/
div#background-parallax{
    background-image:url("/public/img/Forests_Mountains_Rivers_USA_Alaska_568452_1920x1080.png");
    width:100%;
    height:700px;
    background-repeat: no-repeat;
    background-size: cover;
}
h1.lastPoster{
    font-family: 'Roboto-Bold';
    color: rgb(209, 209, 209);
    margin: 1% 0 1% 2%;
}
p.titleposter{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-family: "Roboto-Black";
    font-size: 1.1em;
    color: rgb(209, 209, 209);
}

em.datepost{
    margin-left:0.8%;
    color: rgb(209, 209, 209);
    font-size: 0.8em;
}
div.postscript{
    margin: 1% 4.5% 0 5%;
    font-family: "Roboto-Regular";
    color: rgb(209, 209, 209);
}
p.comments{
    display: flex;
    justify-content:flex-end;
    margin: 2% 5% 15px 0px;


}
p.comments a{
    font-family: 'Roboto-Regular';
    text-decoration: none;
    padding: 5px 8px 5px 8px ;
    border: 3px solid gray;
    border-radius: 50px;
    color:#e9e9e9;
    background-color: rgb(112, 112, 112);
}
p.comments a:hover{
    background: #303030;
    color: rgb(209, 209, 209);
    transition: all 0.5s ease-in-out;
}
div.separate{
    display: flex;
    justify-content:center;
    width: 100%;
    height: 10px;
    margin: 0.5% 0 0.5% 0;
    background: radial-gradient(50% 50% at 50% 50%, #4c4b63 0%, rgba(21, 20, 51, 0) 100%);
    filter: drop-shadow(0px 8px 4px rgba(107, 107, 107, 0.25));
    border-radius: 50px;
}

/*page commentaires*/
a#return-ticket-list{
    font-family: 'Roboto-Regular';
    color:rgb(209, 209, 209);
    margin-left: 5%;
}
div.news{
    margin-top: 1.5%;
}
p#titlePostOnComment{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    font-family: "Roboto-Black";
    font-size: 1.1em;
    color: rgb(209, 209, 209);
    margin-left: 2%;
}
div#textPostOnComment{
    margin: 1% 0 3% 3%;
    font-family: "Roboto-Regular";
    color: rgb(209, 209, 209);
}
h2#labelComment{
    margin-left: 2%;
    font-family: "Roboto-Black";
    color: rgb(209, 209, 209);
}
textarea#comment{
    margin-left: 2%;
    height: 96px;
    width: 16%;
    border: 1px solid rgb(112, 112, 112);
    border-radius: 5px;
}
input#submitComment{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 30px;
    border:3px solid rgb(209, 209, 209);
    border-radius: 50px;
    text-decoration: none;
    color: rgb(209, 209, 209);
    font-family: "Roboto-Black";
    background:#4d4d4d;
    margin-left: 2%;
}
input#submitComment:hover{
    color: #000;
    background-color: rgb(209, 209, 209);
    transition: all 0.5s ease-in-out;
}
div#group_comment{
    margin:3% 0 0 2.5%;
}
p#pseudoComment{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    font-family: "Roboto-Black";
    font-size: 1.1em;
    color: rgb(209, 209, 209);
    margin: 1.5% 0 0 0;
}
a#idReport{
    margin-left: 1.5%;
    color: rgb(209, 209, 209);
}
p.comment_text{
    margin: 0.5% 0 0 1%;
    font-family: "Roboto-Regular";
    color: rgb(209, 209, 209);
}
/*Partie Admin*/
h2#createPost{
    margin: 3% 0 0 1%;
    font-family: "Roboto-Black";
    font-size: 1.1em;
    color: rgb(209, 209, 209);

}
form#formAdmin{
    margin: 1.5% 1.5% 0 1.5%;
    
}
input#titlePost{
    margin-bottom: 1.5%;
    border: 0px solid #000;
    border-radius: 10px;
}
input.formPoster{
    width: 90px;
    height: 30px;
    border:3px solid rgb(209, 209, 209);
    border-radius: 50px;
    text-decoration: none;
    color: rgb(209, 209, 209);
    font-family: "Roboto-Black";
    background:#4d4d4d;
    margin: 0.5% 0 0 2%;
}
input.formPoster:hover{
    color: #000;
    background-color: rgb(209, 209, 209);
    transition: all 0.5s ease-in-out;
}
h2#titleOfPost{
    margin: 1% 0 1% 1%;
    font-family: "Roboto-Black";
    color: rgb(209, 209, 209);
    font-size: 1.1em;
}
div#group_post{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-flow: row nowrap;
    margin: 1% 0 ;
}
p#titlePostOnAdmin{
    font-family: "Roboto-Bold";
    color: rgb(209, 209, 209);
    font-size: 1em;
}
a#modifyAll,a#idsupprPost{
    position: relative;
    margin-left: 0.5%;
    color:rgb(209, 209, 209);
}
h2#TitleCommentOnAdmin{
    margin: 2% 0 0 1%;
    font-family: "Roboto-Black";
    color:rgb(209, 209, 209);
}
p#CommentOnAdmin{
    margin: 1% 0 0 2%;
}
p#CommentOnAdmin strong{
    font-family: "Roboto-Bold";
    color:rgb(209, 209, 209);
}
p#CommentOnAdmin a{
    margin-left: 0.5%;
    color:rgb(209, 209, 209);
}
p#CommentTextOnAdmin{
    margin-left: 2.5%;
    font-family: "Roboto-Regular";
    color:rgb(209, 209, 209);
}
/*Partie modify text*/
form#formModify{
    margin: 1.5% 1.5% 0 1.5%;
    
}
input#modtitlePost{
    margin-bottom: 1.5%;
    border: 0px solid #000;
    border-radius: 10px;
}
input.formPoster{
    width: 90px;
    height: 30px;
    border:3px solid rgb(209, 209, 209);
    border-radius: 50px;
    text-decoration: none;
    color: rgb(209, 209, 209);
    font-family: "Roboto-Black";
    background:#4d4d4d;
    margin: 0.5% 0 0 2%;
}
input.formPoster:hover{
    color: #000;
    background-color: rgb(209, 209, 209);
    transition: all 0.5s ease-in-out;
}

div.news{
    margin: 1.5% 0 0 2%;
    color: rgb(209, 209, 209);
}
h3#modifyTitle{
    font-family: "Roboto-Bold";
    font-size: 1em;
}
em#modifyDate{
    font-size: 0.8em;
}
div#modifyText{
    font-family: "Roboto-Regular";
    margin: 1% 0 5% 1%;
}
/*Patie inscription*/
form#Signupview{
    display:flex;
    justify-content:center;
    align-items:center;
    
}
div#contentSignup{
    padding: 2% 5%;
    margin: 7% 0 10% 0;
    border: 3px solid #4d4d4d;
    border-radius: 5px;
}
p#textSinup , label.signupLabel{
    font-family: "Roboto-Black";
    color:rgb(209, 209, 209);
    margin-bottom: 10%;
}
input.inputSignup{
    display:flex;
    justify-content:flex-end;
    height: 20px;
    margin-top: 5px;
    border: 1px solid #4d4d4d;
    color: #4d4d4d;
    background-color:rgb(209, 209, 209);
    border-radius: 10px;
    text-indent: 9px;
}
input.inputSignup:focus{
    outline-offset: 1px;
    outline-width: 0px;
}
input#signupButton{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 30px;
    border:3px solid rgb(209, 209, 209);
    border-radius: 50px;
    text-decoration: none;
    color: rgb(209, 209, 209);
    font-family: "Roboto-Black";
    background:#4d4d4d;
    margin-left: 15%;
}
input#signupButton:hover{
    color: #000;
    background-color: rgb(209, 209, 209);
    transition: all 0.5s ease-in-out;
}
/*Footer.php for copyright*/
footer{
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
    color: rgb(209, 209, 209);
}
footer div#group-copyright{
    display: flex;
    flex-flow: row nowrap;
}
div p#copyright{
    position: relative;
    left: 5%;
    font-family:'Roboto-Black';
}

@media screen and (max-width:992px){
    form#connexionForm{
        flex-direction: column;
    }
    input.inputSigin{
        width: auto;
    }
}
@media screen and (max-width:768px){
    div#groupButton{
        display: flex;
        flex-direction: column;
    }

}
@media screen and (max-width: 468px){
    a p.logositetext{
        font-size: 1em;
    }
    
    a#disconnect,a#administration{
        display:flex;
        justify-content:center;
        flex-shrink: 0;
        align-items:center;
        width: 90px;
        height: 25px;
        font-family: "Roboto-Black";
        font-size:0.7em;
    }

    p#bonjourPseudo{
        font-size: 0.65em;
    }

}